* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.col-100{
    width: 100%;
}

.col-66{
    width: calc(2 * (100% / 3));
}

.col-33{
    max-width: calc(100% / 3);
    flex-wrap: wrap;
    padding: 50px 0;
}

.col-33 h1{
    font-size: xx-large;
    padding-bottom: 20px;
}

.justify-between{
    justify-content: space-between;
}

.debug{
    border: 1px dotted black;
}

.menu{
    display: flex;
    gap: 10px;
    align-items: center;
}

.main-header .menu{
    color: white;
}

.main-header{
    background-color: #255EE9;
    padding: 20px 0;
}

img{
    display: block;
}

.menu li a{
    padding: 0px 12px;
}

.btn{
    border-radius: 999px;
    background-color: white;
    color: black;
    line-height: 30px;
    padding: 5px 20px;
}

#small{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

#small .row{
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

#small .col-100{
    max-width: 800px;
}

#small h1, #small p{
    padding-bottom: 20px;
    line-height: 1.75em;
}

.btn-dark{
    background-color: black;
    color: white;
}

.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.light-bg{
    background-color: ghostwhite;
}

#big .col-100 * {
    text-align: center;
    margin: 0 auto;
}

.btn-purple{
    background-color: #7289DA;
    color: white;
}

.cta{
    background-image: url(../img/stars.svg);
    padding: 50px 0;
    background-size: auto 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.col-20{
    width: calc(100%/5);
}

footer{
    background-color: #23272A;
    color: white;
    line-height: 2em;
}

h2{
    color: #7289DA;
}

